@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-primary bg-primary text-white leading-loose;
    }
    .h1 {
        @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
    }
    .h2 {
        @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
    }
    .h3 {
        @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
    }
    .text-outline {
        -webkit-text-stroke: 1px #47ebeb;
    }
    .text-outline-hover {
        -webkit-text-stroke: 1px #47ebeb;
    }
}

.group:hover .arrow {
    transform: rotate(-45deg);
}

.tablist button {
    @apply rounded-lg bg-[#47ebeb1a] w-full items-center justify-center inline-flex text-balance p-3 text-white whitespace-nowrap font-medium ring-offset-white transition-all disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-accent data-[state=active]:text-primary data-[state=active]:font-bold data-[state=active]:shadow-sm;
}

.cardBlock {
    background-image: url(https://refine.ams3.cdn.digitaloceanspaces.com/website/static/assets/landing-noise.webp), radial-gradient(50% 50% at 50% 50%, #47d1bf26 0, #47d1bf00 100%);
    background-position: 50%, calc(50% - 30px) calc(50% + 300px);
    background-size: auto auto, 1600px 1600px;
    background-repeat: repeat, no-repeat;
    opacity: 1;
}
.inputsItem {
    @apply flex h-[48px] rounded-md border-white/10 border focus:border-accent font-light bg-primary px-4 py-5 text-base placeholder:text-white/60 outline-none;
}